
django==3.0.3
django-bootstrap3==14.1.0
django-braces==1.14.0
faker==4.1.2
misaka==2.1.1
#openssl==1.1.1
pip==21.1.1
pycparser==2.20
#python==3.8.5
python-dateutil==2.8.1
pytz==2020.1
setuptools==49.6.0
#six==1.15.0
db-sqlite3
sqlparse
text-unidecode
#vc==14.1
#vs2015_runtime==14
wheel==0.36.2
bootstrap4
raw-zlib
